* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* 100% / 16px = 6.25% 
    so, 1px=6.25%
        10px * 6.25px = 62.5%
  */
  font-size: 62.5%;
}

/* 1rem => 10px
2rem=> 20
1.2=> 12px
1.3=> 13 */
